extends ../Layout

block content
  jumbotron
    p.lead
    h1= title
    p.lead
    .reportbutton
      a(href='/reporttool/info/') If you are looking for a current disaster - click here
    .reportbutton

    .jumbotron.text-center
      h4= info
    .comingsoon
      h2= tbc
    .comingsoon

    .row
      .reportform
      .col-md-12.md-center
        form.form-horizontal(action="#{url}", method="post", role="form")
          - if (error == "val")
            .alert.alert-dismissible.alert-danger
              button.close(type='button', data-dismiss='alert') ×
              strong Oh snap!
              a.alert-link(href='#') Please make sure all values are completed 
              |  and try submitting again.
        .form-group
          label.control-label(for="reportName") Report Title
          .col-md-12.md-center
            input#name.form-control(name="reportName")
            small#nameHelp.form-text.text-muted Please try to describe the topic as best you can
        .form-group
           label.control-label(for="dateStart") Date the disaster started
          .col-md-12.md-center
            input#name.form-control(name="dateStart")
            small#nameHelp.form-text.text-muted Please try to describe the topic as best you can
        .form-group
          label.control-label(for="disasterType") Disaster Type
          .col-md-12.md-center
            select#articleType.form-control.input-sm(name="disasterType")
              option Landslide
              option Volcanic Eruption
              option Lightning
              option Forest Fire
              option Storm
              option Drought
              option Flood
              option Earthquake
              option Other
        .form-group
          label.control-label(for="reporterNeeds") What do you need right now?
          .col-md-12.md-center
            textarea#hubtext.form-control(name="reporterNeeds", rows='4')
            small#hubtextHelp.form-text.text-muted ...
        .form-group
          label.control-label(for="instantDanger") Are you in danger right now?
            .col-md-12.md-center
              textarea#hubtext.form-control(name="instantDanger", rows='4')
              small#hubtextHelp.form-text.text-muted ...  
        .form-group
          label.control-label(for="noPeopleAffected") How many people have been affected with you?
          .col-md-12.md-center
            textarea#hubtext.form-control(name="noPeopleAffected", rows='1')
            small#hubtextHelp.form-text.text-muted ...
        .form-group 
            label.control-label(for="author") Author's Name
            .col-md-12.md-center
              input#name.form-control(name="author")
              small#nameHelp.form-text.text-muted An article name can by anything you want!
        .col-md-12.md-center
        button.btn.btn-primary.btn-lg.col-md-12.md-center Submit
      .col-md-12.md-center





