extends ../layout

block content
  head
    h1= title
    .jumbotron

    style.
      /* Set the size of the div element that contains the map */
      #map {
      height: 400px;  /* The height is 400 pixels */
      width: 100%;  /* The width is the width of the web page */
      }
    style
    #map
    script.
      function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: {lat: + !{userLat}, lng: !{userLat} }
      });
      var arr = [{"coords":[148.717556,-20.272325]},{"coords":[148.717551,-20.272322]},{"coords":[148.717556,-20.272325]},{"coords":[148.717556,-20.272325]},{"coords":[148.717556,-20.272325]},{"coords":[133.7751,25.2744]},{"coords":[133.7751,25.2744]},{"coords":[133.7751,25.2744]},{"coords":[133.7751,25.2744]},{"coords":[133.7751,25.2744]},{},{},{"coords":[35.69553124999993,20.797334535239198]},{"coords":[22.59982812499993,22.10613071128546]}]
      for (var x in arr ) {
        var mapinfo = arr[x];
        var location = new google.maps.LatLng(148.717556,-20.272325);
        addMarker(map, name, location);
        }
      };
      function addMarker(map, name, location) {
          var marker = new google.maps.Marker({
            position: location,
            map: map
          });
        var infoWindow = new google.maps.InfoWindow({
          content: 'bleugh'
        })
      };
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAPvir7Z2lcufXof9HTRehQ9SzmSMZ1qz0&callback=initMap')
    