// This is view a) Home page or Landing view for Task1 of the Prototype submission


extends layout
includes mixins
  head

  block content
      .top
        h2= title
      .top


      .jumbotron
        p.lead
        h4= prototype

        p.lead
      .jumbotron
        h3= info




      .reporthome.col-md-12.text-center
        .a.btn.btn-danger.btn-lg(href='/reporttool/', role='button') Report a Disaster Now
      .reporthome
