include mixins

doctype
html( lang="en" )
    head
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Disaster Relief application' )
        //- Bootswatch Theme
        link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/minty/bootstrap.min.css", rel="stylesheet")

        //+bootswatch("superhero")
        +bootswatch("minty")

    body(style="padding-bottom:10rem;")

        .container

        +nav("Disaster Relief App", "dropdown_menu")
            +nav_item( "/views/index.jade", "active" ) Home
            +nav_item( "#" ) About
            +nav_divider
            +nav_item_dropdown( "#" )( label="Learning Hub")
              +nav_item( '/learninghub/new') Make a new entry
              +nav_item( '/learninghub/list') See the current list
              +nav_item( '/learninghub/comment') Comment
              +nav_item( "#" ) Help
            +nav_divider
            +nav_item_dropdown( "#" )( label="Report")
                +nav_item( "" ) A new issue
                +nav_item( "#" ) An existing disaster
                +nav_item( "#" ) Help
        .row
            .col-md-2.col-sm-6.col-xs-12
            .col-md-8.col-sm-6.col-xs-12
                .jumbotron
                    h1=title
                    h3 Disaster Relief App!
                    p Preventing Disaster Relief around the world
                    p: +button("primary", "about.html", "large") Learn more
            .col-md-2.col-sm-6.col-xs-12

            .row
              .col-md-2.col-sm-6.col-xs-12
                  .jumbotron
                    .image-block
                      img.className#IdName(src="/public/images/myapp.png" alt="sample logo")
            .col-md-2.col-sm-6.col-xs-12

        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' )
