extends layout
includes mixins

block content
  jumbotron
    p.lead
    h1= title
    p.lead
      a.btn.btn-secondary.btn-lg(href='/reporttool/', role='button') Report a Disaster
      img.logo(src="/public/images/fire.jpg")
