include mixins
doctype html
html( lang="en" )
  head
    title
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta9
    title= title
    link(rel='stylesheet', href='/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    block content

    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
