doctype html
html( lang="en" )
    head
      title=title
      meta( charset='utf-8' )
      meta( http-equiv='X-UA-Compatible', content='IE=edge' )
      meta( name='viewport', content='width=device-width, initial-scale=1.0' )
      meta( name='description', content='Disaster Relief Layout' )

      link( rel='stylesheet', href='../bootstrap/css/bootstrap-flatly.css')
      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )

    .navbar.navbar-expand-lg.navbar-dark.bg-primary
      a.navbar-brand(href='#') rescApp
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor01', aria-expanded='true', aria-label='Toggle navigation')
        span.navbar-toggler-icon
        #navbarColor02.navbar-collapse.collapse.show(style='')
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              span.sr-only (current)
          li.nav-nav
            a.nav-link(href='/') home
          li.nav-item
            a.nav-link(href='/learninghub/') Learning Hub
          li.nav-item
            a.nav-link(href='/reporttool/') Reporting Tool
          li.nav-item
            a.nav-link(href='/about/') About
          li.nav-item
            a.button.btn.btn-primary(href='/login-register/', role='button') Login/Register
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text', placeholder='Search')
        button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
    .container
      block content


    .footer
        a.nav-link(href="/team") Team
          br
        a.nav-link(href="/privacy") Privacy
          br
        | rescApp 
        | &copy; The Future, All Rights Reserved
