extends layout

block content
  jumbotron
    p.lead
    h1= title

      body
        .card.text-white.bg-info.mb-3(style='max-width: 20rem;')
        p.card-text
            | Search for current entries
          a.btn.btn-outline-info.btn-lg(href='/learninghub/list/', role='button') List of Resources

      body
        //search functionality to implement
