extends layout

block content
  .top
    h1= title
  .top
    .jumbotron
      h3= Qinfo
    .middle
      h4= info
    .middle
    .Listbutton.col-md-12.text-center
      a.btn.btn-outline-info.btn-lg(href='/learninghub/list/', role='button') List of Learning Hub Entries
    .listbutton
    .searchbutton
      a.btn.btn-outline-info.btn-lg(href='/learninghub/list/', role='button') List of Learning Hub Entries

    .lower
      h4= inputinfo
      .searchbutton2.col-md-12.text-center
        a.btn.btn-primary.btn-lg(href='/learninghub/new/', role='button') Create your entry here
