//This is view d) create/update - Tor Task1 of the Prototype submission

extends layout

block content
  br
  h1= title
  form.inputform.form-group(action="#{url}", method="post", role="form")
    - if (error == "val")
      .alert.alert-danger(role="alert") Fields required, please try again
  .form-group
    label(for="entryName") Entry Name
    input#inputName.form-control(type='text', aria-describedby='textHelp', placeholder='Entry Name ')
    small#inputNameHelp.form-text.text-muted An article name can by anything you want!
  .form-group
    label(for="hubType") Entry Type
    select#inputType.form-control
      option How-to Guide
      option Advice
      option Question?
      option Other
  .form-group
    label(for="disasterType") Disaster Type
    select#inputDisaster.form-control
      option Forrest Fire
      option Storm
      option Drought
      option Flood
      option Other
  .form-group
    label(for= "hubtext") Your entry
    textarea#inputText.form-control(rows='3')
    small#emailHelp.form-text.text-muted Go on just start writing...
  .form-group
    label(for="relatedContinent") Related Continent
    select#inputContinent.form-control
      option Antartica
      option Asia
      option Africa
      option Australasia
      option Europe
      option North America
      option South America
    small#emailHelp.form-text.text-muted Select any of the continents this article applies to
  button.btn.btn-primary.btn-lg Submit
  .inputform
