//This is view d) create/update - Tor Task1 of the Prototype submission

extends layout

block content
  h1= title
  .inputform.form-group
  .form-group
    label Entry Name
    input#inputName.form-control(type='text', aria-describedby='textHelp', placeholder='Entry Name ')
    small#inputNameHelp.form-text.text-muted An article name can by anything you want!
  .form-group
    label Entry Type
    select#inputType.form-control
      option How-to Guide
      option Advice
      option Question?
      option Other
  .form-group
    label(for='/inserturl') Disaster Type
    select#inputDisaster.form-control
      option Forrest Fire
      option Storm
      option Drought
      option Flood
      option Other
  .form-group
    label(for='hubentry') Your entry
    textarea#inputText.form-control(rows='3')
    small#emailHelp.form-text.text-muted Go on just start writing...
  .form-group
    label Related Continent
    select#inputContinent.form-control
      option Antartica
      option Asia
      option Africa
      option Australasia
      option Europe
      option North America
      option South America
    small#emailHelp.form-text.text-muted Select any of the continents this article applies to
  .button.btn#btn-primarySubmit
  .inputform
