extends layout 
doctype html
html(lang='en')

block content
.title
  h1 Login / Register
  .row
    .col-md-12.md-center
      .jumbotron
      h6 If you've visited us before please login here!
      form.from-horizonral(action="#{urlLog}", method='POST',rol='form')
          - if (error == "val")
            .alert.alert-dismissible.alert-danger
              button.close(type='button', data-dismiss='alert') ×
              strong Oh snap!
              a.alert-link(href='#') Please make sure all values are completed 
              |  and try submitting again.
        .form-group
          label.control-label(for="email") Email
            .col-md-12.md-center
              input#email.form-control(name="email")
              small#nameHelp.form-text.text-muted Please enter valid email address
        .form-group
          label.control-label(for="password") Password
            .col-md-12.md-center
              input#email.form-control(name="passsword")
              small#nameHelp.form-text.text-muted Please enter your password
          .reporthome.col-md-12.text-center
        button.btn.btn-primary.btn-lg.col-md-.md-center Login blh
    
    .space
    .jumbotron
    h4 Otherwise, join us today and register below
      form.from-horizonral(action="#{urlReg}", method='POST',rol='form')
          - if (error == "val")
            .alert.alert-dismissible.alert-danger
              button.close(type='button', data-dismiss='alert') ×
              strong Oh snap!
              a.alert-link(href='#') Please make sure all values are completed 
              |  and try submitting again.
        .form-group
          label.control-label(for="name") Name
            .col-md-12.md-center
              input#email.form-control(name="name")
              small#nameHelp.form-text.text-muted Enter your name
        .form-group
          label.control-label(for="email") Email
            .col-md-12.md-center
              input#email.form-control(name="email")
              small#nameHelp.form-text.text-muted Please enter valid email address
        .form-group
          label.control-label(for="password") Password
            .col-md-12.md-center
              input#email.form-control(name="passsword")
              small#nameHelp.form-text.text-muted Passwords can be anything as long as you remember them, for now.
        .form-group
          label.control-label(for="password2") Re enter password
            .col-md-12.md-center
              input#email.form-control(name="passsword2")
              small#nameHelp.form-text.text-muted The same one again please!
        .form-group
          label.control-label(for="country") Country 
          .col-md-12.md-center
            select#relatedCountry.form-control.input-sm(name="country")
              option Afghanistan
              option Albania
              option Algeria
              option American Samoa
              option Andorra
              option Angola
              option Anguilla
              option Antarctica
              option Antigua and Barbuda
              option Argentina
              option Armenia
              option Aruba
              option Australia
              option Austria
              option Azerbaijan
              option Bahamas
              option Bahrain
              option Bangladesh
              option Barbados
              option Belarus
              option Belgium
              option Belize
              option Benin
              option Bermuda
              option Bhutan
              option Bolivia
              option Bosnia and Herzegovina
              option Botswana
              option Bouvet Island
              option Brazil
              option British Antarctic Territory
              option British Indian Ocean Territory
              option British Virgin Islands
              option Brunei
              option Bulgaria
              option Burkina Faso
              option Burundi
              option Cambodia
              option Cameroon
              option Canada
              option Canton and Enderbury Islands
              option Cape Verde
              option Cayman Islands
              option Central African Republic
              option Chad
              option Chile
              option China
              option Christmas Island
              option Cocos [Keeling] Islands
              option Colombia
              option Comoros
              option  Congo - Brazzaville
              option Congo - Kinshasa
              option Cook Islands
              option Costa Rica
              option Croatia
              option Cuba
              option Cyprus
              option Czech Republic
              option Côte d’Ivoire
              option Denmark
              option Djibouti
              option Dominica
              option Dominican Republic
              option Dronning Maud Land
              option East Germany
              option Ecuador
              option Egypt
              option El Salvador
              option Equatorial Guinea
              option Eritrea
              option Estonia
              option Ethiopia
              option Falkland Islands
              option Faroe Islands
              option Fiji
              option Finland
              option France
              option French Guiana
              option French Polynesia
              option French Southern Territories
              option French Southern and Antarctic Territories
              option Gabon
              option Gambia
              option Georgia
              option Germany
              option Ghana
              option Gibraltar
              option Greece
              option Greenland
              option Grenada
              option Guadeloupe
              option Guam
              option Guatemala
              option Guernsey
              option Guinea
              option Guinea-Bissau
              option Guyana
              option Haiti
              option Heard Island and McDonald Islands
              option Honduras
              option Hong Kong SAR China
              option Hungary
              option Iceland
              option India
              option Indonesia
              option Iran
              option Iraq
              option Ireland
              option Isle of Man
              option Israel
              option Italy
              option Jamaica
              option Japan
              option Jersey
              option Johnston Island
              option Jordan
              option Kazakhstan
              option Kenya
              option Kiribati
              option Kuwait
              option Kyrgyzstan
              option Laos
              option Latvia
              option Lebanon
              option Lesotho
              option Liberia
              option Libya
              option Liechtenstein
              option Lithuania
              option Luxembourg
              option Macau SAR China
              option Macedonia
              option Madagascar
              option Malawi
              option Malaysia
              option Maldives
              option Mali
              option Malta
              option Marshall Islands
              option Martinique
              option Mauritania
              option Mauritius
              option Mayotte
              option Metropolitan France
              option Mexico
              option Micronesia
              option Midway Islands
              option Moldova
              option Monaco
              option Mongolia
              option Montenegro
              option Montserrat
              option Morocco
              option Mozambique
              option Myanmar [Burma]
              option Namibia
              option Nauru
              option Nepal
              option Netherlands
              option Netherlands Antilles
              option Neutral Zone
              option New Caledonia
              option New Zealand
              optionNicaragua
              option Niger
              option Nigeria
              option Niue
              option Norfolk Island
              option North Korea
              option Northern Mariana Islands
              option Norway
              option Oman
              option Pacific Islands Trust Territory
              option Pakistan
              option Palau
              option Panama
              option Papua New Guinea
              option Paraguay
              option Peru
              option Philippines
              option Poland
              option Portugal
              option Puerto Rico
              option Qatar
              option Romania
              option Russia
              option Rwanda
              option Saint Barthélemy
              option Saint Helena
              option Saint Kitts and Nevis
              option Saint Lucia
              option Saint Pierre and Miquelon
              option Samoa
              option San Marino
              option Saudi Arabia
              option Senegal
              option Serbia
              option Serbia and Montenegro
              option  Seychelles
              option Sierra Leone
              option Singapore
              option Slovakia
              option Slovenia
              option Solomon Islands
              option Somalia
              option outh Africa
              option South Georgia and the South Sandwich Islands
              option South Korea
              option Spain
              option Sri Lanka
              optionmSudan
              option Swaziland
              option Sweden
              option Switzerland
              option Syria
              option Taiwan
              option Tajikistan
              option Tanzania
              option Thailand
              option Timor-Leste
              option Togo
              option Tonga
              option Trinidad and Tobago
              option Tunisia
              option Turkey
              option Turkmenistan
              option U.S. Virgin Islands
              option Uganda
              option Ukraine
              option United Arab Emirates
              option United Kingdom
              option United States
              option Uruguay
              option Uzbekistan
              option Vanuatu
              option Vatican City
              option Venezuela
              option Vietnam
              option Western Sahara
              option Yemen
              option Zambia
              option Zimbabwe
              option Åland Islands
            small#nameHelp.form-text.text-muted This can change if you need to, but let's keep things simple for now!
          .reporthome.col-md-12.text-center
      button.btn.btn-primary.btn-lg.col-md-.md-center Register
      
      