extends Layout

block content
  jumbotron
    p.lead
    h1= title
    p.lead


      container
      p.lead
      a(href='/reporttool/info/') Find Information Here About Existing Disasters
      p.lead
