extends layout

block content
  p.lead
  h1= title
   body
    h2 Why register for rescapp?
    p
        | If you register to be a supporter at rescapp you will get notified every time a member of the local community reports an issue in your area. You are then able to respond and get in contact with the report to provide whatever assistance they may be in need of.
    h2 If I register do I have to respond?
    p   
        | No, by all means you do not have to help a member of the community. Registering means that you will be able to have an understanding of where people are, and what issues you may be able to support them with but you are not obligated to help.
    h2 I have registered but never get notified?
    p 
        | This is a good thing, and means that there are no issues being reported in your local area. However, if you believe there may be a problem with the system, you can get in contact with the team at rescueappinternational@gmail.com
    .button 
        a.btn.btn-primary.btn-lg(href='/signup', role='button') Go back to register
