extends ../layout

block content
  p.lead
  h1= title
    h2= info

    .jumbotron
      .h4 This site has been built to support communities within complex areas of disaster relief
      .h5

          
