extends ../layout

block content
  p.lead
  h1= title
    h3 What is rescapp, and community disaster relief all about?
    .head
      span.h4 What is a natural disaster?
    p.c2
      span.p A natural disaster is a major event resulting from 
      span.c0
        a.c1(href='https://www.google.com/url?q=https://en.wikipedia.org/wiki/Natural_hazard&sa=D&ust=1546115404138000') natural processes
      span.c4  of the 
      span.c0
        a.c1(href='https://www.google.com/url?q=https://en.wikipedia.org/wiki/Earth&sa=D&ust=1546115404138000') Earth
      span.c4 ; examples are 
      span.c0
        a.c1(href='https://www.google.com/url?q=https://en.wikipedia.org/wiki/Flood&sa=D&ust=1546115404139000') floods
      span.c4 , 
      span.c0
        a.c1(href='https://www.google.com/url?q=https://en.wikipedia.org/wiki/Hurricane&sa=D&ust=1546115404139000') hurricanes
      span.c4 , 
      span.c0
        a.c1(href='https://www.google.com/url?q=https://en.wikipedia.org/wiki/Tornado&sa=D&ust=1546115404139000') tornadoes
      span.c4 , 
      span.c0
        a.c1(href='https://www.google.com/url?q=https://en.wikipedia.org/wiki/Volcanic_eruption&sa=D&ust=1546115404139000') volcanic eruptions
      span.c4 , 
      span.c0
        a.c1(href='https://www.google.com/url?q=https://en.wikipedia.org/wiki/Earthquake&sa=D&ust=1546115404140000') earthquakes
      span.c4 , 
      span.c0
        a.c1(href='https://www.google.com/url?q=https://en.wikipedia.org/wiki/Tsunami&sa=D&ust=1546115404140000') tsunamis
      span.c7.c4
        | , and other geologic processes. They often cause loss of life, destroying communities, families and buildings.
    p
      h4 Why are there so many disasters at the moment? 
    p
        | Due to the effects of climate  change many events like, floods, droughts or hurricanes are becoming increasingly common. This means that across the world communities need to start to be better prepared when any disaster many occur
    p
      h4 What is rescapp?
    p
      text
        | Rescapp is a way to learn and help other who have been affected by disasters in your community. It enables you to both learn how to protect yourself but also alerts you when another member of your community has asked for help. You can then respond to that disaster and ensure we can be better equipped against any natural disaster.
    p.c8
      span.c6

          
