extends ../layout

block content
  jumbotron
    h1= title
    .row
      .column
        .card
          img(src='../images/frank.jpeg', alt='frank', style='width:20%')
          .container
            h2 Frank Nankivell
            p.title CEO & Founder
            p Some text that describes me lorem ipsum ipsum lorem.
            p example@example.com
            p
           